footer
    background: $gray
    height: 236.7px
    +display-flex
    +flex-flow(row nowrap)
    +justify-content(space-around)
    background-image: url('../assets/page-1.svg')
    background-repeat: no-repeat
    background-position: 2px 125px
    .footer-section
        h6
            color: $white
            font-weight: 700
            margin-top: 67px
            font-size: .875em
        a
            display: block
            color: $inactive
            margin-top: 20px
            font-weight: 400
            font-size: 1em
            font-family: $secondaryFont
            cursor: pointer
            text-decoration: none
        a:hover
            color: $bgd-gray
        img
            margin-top: 20px
            width: 40px
            height: 40px
            padding: 7px
    .footer-section:last-child
        a
            display: inline
        a:hover
            color: $bgd-gray
