//====================
// Laptop
//====================

@media screen and (max-width: 1110px)
    .products
        .container-karmametrics
            .metrics-image
                img
                    height: 313px

@media screen and (max-width: 890px)
    .products
        .container-karmametrics
            .metrics-image
                img
                    border: 1px solid
                    height: 212px

    .success
        .success-cases
            .success-study
                img
                    width: 312px

@media screen and (max-width: 800px)
    .fold
        background-size: cover
        height: 990px
        &__text
            h1
                // width: 768px
                font-size: 1.515em
                margin-top: 165px
        &__button
            margin-top: 38px
        &__lines
            img
                position: absolute
                top: 191px
                left: 292px
                transform: rotate(-90deg)
        &__scroll
            margin-top: 248px
    #products
        height: 662px
        ul
            font-size: 1.71429em
        hr
            width: 200px
        .container-products
            > div
                .product-text
                    padding-top: 108px
                    h3
                        font-size: .875em
                        padding-right: 60px
                    p
                        font-size: .875em
                .product-image
                    width: 446px
                    img
                        height: 226px
    .examples
        .examples-tweets
            .tweets__bg-white
                width: 380px
                h6
                    font-size: .75em
                p
                    font-size: .6875em
                img
                    width: 380px
            .container-half
                p
                    font-size: .6875em
                    padding-left: 42px
                    padding-right: 33px
                button
                    margin-right: 45px
        .examples-actions
            .action__bg-gray
                margin-left: 50px
                margin-right: 29px
                p
                    font-size: .75em
                    margin-top: 9px
                    text-align: justify
    .solutions
        .packages
            +display-flex
            +flex-flow(column wrap)
            .packages-section
                +display-flex
                +flex-direction(column)
                +justify-content(center)
                width: 100%
                margin-top: 40px
                img
                    display: none
                .is_hidden
                    display: flex
                    width: 20px
                h4
                    font-size: 2.14286em

                p
                    font-size: 1em
                    width: 726px

    .success
        height: 700px
        .success-cases
            +display-flex
            +flex-flow(column wrap)
            .success-img
                .success-img__down
                    margin-top: 90px
                    margin-left: -377px
            .success-study
                +display-flex
                +align-items(flex-end)
                +justify-content(center)
                img
                    +align-self(center)
                    margin: 36px 71px
                    width: 60%
                button
                    display: block
    .subscribe
        .subscribe-receive
            width: 569px
            margin-right: 50px
        .subscribe-inputs
            width: 323px
            padding: 0
            input
                height: 33px
            select
                height: 35px
