@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.fold { background-image: url("../assets/bg-video@3x.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center center; width: 100%; height: 100%; }
.fold__logo { padding: 35px; }
.fold__text { display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-flex-direction: column; flex-direction: column; }
.fold__text h1 { padding: 90px 60px; color: #fff; font-size: 2.1875em; text-align: center; text-transform: uppercase; font-weight: 900; line-height: 48px; }
.fold__text a button { width: 180px; height: 50px; font-size: 16px; font-family: "Montserrat", sans-serif; color: #153343; border-radius: 4px; font-weight: 500; text-transform: uppercase; }
.fold__text a:hover button { background: transparent; color: #fff; }
.fold__lines { display: -webkit-flex; display: flex; -webkit-justify-content: flex-end; justify-content: flex-end; -webkit-align-items: flex-end; align-items: flex-end; }
.fold__lines img { margin-top: -165px; margin-bottom: -58px; }
.fold__scroll { display: -webkit-flex; display: flex; -webkit-align-items: flex-end; align-items: flex-end; -webkit-justify-content: center; justify-content: center; }
.fold__scroll img { margin: 20px; }

#products { height: 765px; }
#products h2 { display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; color: #37474f; font-size: 2em; text-transform: uppercase; font-weight: 600; padding-top: 55px; }
#products ul { display: -webkit-flex; display: flex; -webkit-justify-content: space-around; justify-content: space-around; -webkit-flex-wrap: wrap; flex-wrap: wrap; font-size: 1.5em; margin-top: 50px; font-weight: 600; family-font: "Work Sans", sans-serif; }
#products .list-line { margin-top: 1px; }
#products li { -webkit-align-self: center; align-self: center; cursor: pointer; }
#products li .selectMetrics { color: #3949ab; }
#products li .selectMetrics:hover { color: #3949ab; }
#products li .selectInsights { color: #00b8d4; }
#products li .selectEngange { color: #ff5722; }
#products li .no_select { color: #b0bec5; }
#products hr { border: 1px solid; width: 330px; display: block; }
#products .container-products > div { display: -webkit-flex; display: flex; flex-flow: row nowrap; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; }
#products .container-products > div .product-text { padding-left: 47px; }
#products .container-products > div .product-text img { width: 50px; display: block; margin-top: 20px; }
#products .container-products > div .product-text h3 { font-family: "Montserrat", sans-serif; font-size: 1em; text-transform: uppercase; font-weight: 700; padding-top: 21px; padding-bottom: 15px; padding-right: 217px; line-height: 24px; color: #455A64; }
#products .container-products > div .product-text p { font-family: "Montserrat", sans-serif; color: #455A64; font-size: 1em; line-height: 24px; text-align: justify; width: 353px; font-weight: 400; }
#products .container-products > div .product-text button { background: #303F9F; color: #fff; margin-top: 40px; height: 50px; width: 260px; font-size: 1em; border-radius: 3px; text-transform: uppercase; font-weight: 600; }
#products .container-products > div .product-text button:hover { background: #fff; color: #303F9F; border-color: #303F9F; }
#products .container-products > div .product-text .bgInsights { background: #00b8d4; }
#products .container-products > div .product-text .bgInsights:hover { background: #fff; color: #00b8d4; border-color: #00b8d4; }
#products .container-products > div .product-text .bgEngange { background: #ff5722; }
#products .container-products > div .product-text .bgEngange:hover { background: #fff; color: #ff5722; border-color: #ff5722; }
#products .container-products > div .product-image { width: 764px; }
#products .container-products > div .product-image img { height: 446px; margin-top: 66px; }
#products .container-products .is_hidden { display: none !important; }
#products .container-products .is_active { display: flex !important; }

.examples { background: #eceff1; display: -webkit-flex; display: flex; display: -webkit-flex; display: flex; flex-flow: row nowrap; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; height: 668px; padding-left: 46px; background-image: url("../assets/vertical-oval.svg"); background-repeat: no-repeat; background-position: 140px; }
.examples-tweets .tweets__bg-white { display: -webkit-flex; display: flex; -webkit-align-content: center; align-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; background: #fff; width: 480px; height: 130px; margin-top: 50px; }
.examples-tweets .tweets__bg-white h6:first-child { font-family: "Montserrat", sans-serif; font-size: 0.875em; font-weight: 500; display: inline-block; color: #455A64; padding-left: 54px; }
.examples-tweets .tweets__bg-white h6 { font-family: "Montserrat", sans-serif; font-size: 0.875em; display: inline-block; color: #455A64; padding-left: 12px; font-weight: 300; }
.examples-tweets .tweets__bg-white p { font-family: "Montserrat", sans-serif; font-size: 0.875em; color: #455A64; padding: 10px 55px; font-weight: 400; text-align: justify; line-height: 18px; }
.examples-tweets .tweets__bg-white img { width: 480px; }
.examples-tweets .container-half { display: -webkit-flex; display: flex; flex-flow: row nowrap; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; }
.examples-tweets .container-half p { font-family: "Work Sans", sans-serif; font-size: 0.875em; font-weight: 600; padding-right: 34px; padding-left: 4px; width: 205px; }
.examples-tweets .container-half button { background: #37474f; color: #fff; border-radius: 3px; border-radius: 6px; font-size: 1.125em; width: 124px; height: 39px; font-weight: 700; text-transform: uppercase; }
.examples-actions .action__bg-gray { height: 130px; display: -webkit-flex; display: flex; -webkit-align-content: center; align-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin-top: 44px; margin-left: 92px; margin-right: 50px; }
.examples-actions .action__bg-gray img { width: 26px; }
.examples-actions .action__bg-gray h4 { display: inline; text-transform: uppercase; font-weight: 600; margin-left: 10px; font-size: 1.875em; color: #37474f; }
.examples-actions .action__bg-gray p { font-family: "Montserrat", sans-serif; font-size: 0.875em; color: #455A64; margin-top: 20px; line-height: 23px; font-weight: 400; }

.solutions { height: 722px; background-image: url("../assets/horizontal-oval.svg"); background-repeat: no-repeat; background-position: 1010px 544px; }
.solutions h2 { display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; color: #37474f; font-size: 32px; margin-top: 84px; text-transform: uppercase; font-weight: 600; }
.solutions .packages { display: -webkit-flex; display: flex; -webkit-justify-content: space-around; justify-content: space-around; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.solutions .packages-section { display: -webkit-flex; display: flex; -webkit-flex-flow: column wrap; flex-flow: column wrap; -webkit-justify-content: center; justify-content: center; width: 33%; }
.solutions .packages-section img { display: -webkit-flex; display: flex; -webkit-align-self: center; align-self: center; display: block; width: 161px; height: 161px; margin-top: 82px; }
.solutions .packages-section h4, .solutions .packages-section p { display: -webkit-flex; display: flex; -webkit-align-self: center; align-self: center; }
.solutions .packages-section h4 { font-size: 1.875em; text-transform: uppercase; color: #4a4a4a; margin-top: 25px; font-weight: 600; }
.solutions .packages-section p { color: #465a64; font-size: 0.875em; font-family: "Montserrat", sans-serif; width: 297px; line-height: 24px; text-align: center; margin-top: 22px; }
.solutions .solutions-button { display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; }
.solutions .solutions-button button { background: #37474f; color: #fff; border-radius: 3px; height: 58px; width: 472px; font-size: 16px; font-weight: 700; text-transform: uppercase; margin-top: 85px; }
.solutions .solutions-button button:hover { background: #fff; color: #455A64; border-color: #455A64; }

.success { height: 429px; background: #cfd8dc; }
.success h2 { font-size: 31px; padding: 46px; text-transform: uppercase; font-weight: 600; }
.success-cases { display: -webkit-flex; display: flex; flex-flow: row nowrap; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; }
.success-cases .success-img { margin-left: 38px; display: -webkit-flex; display: flex; -webkit-justify-content: space-around; justify-content: space-around; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.success-cases .success-img img:first-child { width: 249px; height: 44px; }
.success-cases .success-img img { width: 157px; height: 41px; }
.success-cases .success-img .img-large { width: 89px; height: 64px; }
.success-cases .success-img .success-img__down { margin-top: 48px; margin-left: -179px; }
.success-cases .success-img .success-img__down img { width: 213px; height: 48px; margin-right: 41px; }
.success-cases .success-img .success-img__down .img-large { width: 63.4px; height: 72.5px; margin-left: 16px; }
.success-cases .success-study { display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.success-cases .success-study img { width: 487px; height: 241px; margin-left: 44px; margin-top: -72px; margin-bottom: 67px; }
.success-cases .success-study button { background: #37474f; color: #fff; border-radius: 3px; -webkit-align-self: flex-end; align-self: flex-end; font-size: 1em; width: 200px; height: 50px; font-family: "Montserrat", sans-serif; font-weight: 500; margin-top: -25px; text-transform: uppercase; }
.success-cases .success-study button:hover { background: #cfd8dc; color: #37474f; border: 2px #37474f solid; }

.subscribe { height: 300px; padding: 30px; display: -webkit-flex; display: flex; flex-flow: row nowrap; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; }
.subscribe-receive { display: -webkit-flex; display: flex; -webkit-align-content: center; align-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin-right: 20px; margin-left: 23px; border-right: 2px #2db273 solid; }
.subscribe-receive h2 { font-size: 2em; color: #455A64; font-weight: 600; text-transform: uppercase; }
.subscribe-receive p { font-size: 0.875em; font-family: "Montserrat", sans-serif; color: #b0bec5; margin-top: 38px; text-align: justify; line-height: 24px; font-weight: 200; padding-right: 76px; height: 88px; }
.subscribe-inputs { display: -webkit-flex; display: flex; -webkit-align-content: center; align-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; padding: 20px; }
.subscribe-inputs input { display: block; width: 603px; height: 32px; background: #eceff1; border-radius: 3px; border: none; padding-left: 16px; font-size: 1em; }
.subscribe-inputs input:-moz-placeholder { color: #b0bec5; font-weight: 600; }
.subscribe-inputs input::-moz-placeholder { color: #b0bec5; font-weight: 600; }
.subscribe-inputs input:-ms-input-placeholder { color: #b0bec5; font-weight: 600; }
.subscribe-inputs input::-webkit-input-placeholder { color: #b0bec5; font-weight: 600; }
.subscribe-inputs select { width: 461px; height: 37px; font-weight: 600; font-size: 1em; margin-top: 23px; margin-right: 10px; color: #b0bec5; border: none; }
.subscribe-inputs button { background: #37474f; color: #fff; border-radius: 3px; height: 48px; width: 148px; border-radius: 4px; font-size: 1em; font-weight: 600; margin-top: 20px; text-transform: uppercase; }
.subscribe-inputs button:hover { background: #fff; color: #37474f; border: 2px #37474f solid; }

* { -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 { font-family: "Work Sans", sans-serif; }

footer { background: #37474f; height: 236.7px; display: -webkit-flex; display: flex; -webkit-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-justify-content: space-around; justify-content: space-around; background-image: url("../assets/page-1.svg"); background-repeat: no-repeat; background-position: 2px 125px; }
footer .footer-section h6 { color: #fff; font-weight: 700; margin-top: 67px; font-size: 0.875em; }
footer .footer-section a { display: block; color: #b0bec5; margin-top: 20px; font-weight: 400; font-size: 1em; font-family: "Montserrat", sans-serif; cursor: pointer; text-decoration: none; }
footer .footer-section a:hover { color: #cfd8dc; }
footer .footer-section img { margin-top: 20px; width: 40px; height: 40px; padding: 7px; }
footer .footer-section:last-child a { display: inline; }
footer .footer-section:last-child a:hover { color: #cfd8dc; }

@media screen and (max-width: 1110px) { .products .container-karmametrics .metrics-image img { height: 313px; } }
@media screen and (max-width: 890px) { .products .container-karmametrics .metrics-image img { border: 1px solid; height: 212px; }
  .success .success-cases .success-study img { width: 312px; } }
@media screen and (max-width: 800px) { .fold { background-size: cover; height: 990px; }
  .fold__text h1 { font-size: 1.515em; margin-top: 165px; }
  .fold__button { margin-top: 38px; }
  .fold__lines img { position: absolute; top: 191px; left: 292px; transform: rotate(-90deg); }
  .fold__scroll { margin-top: 248px; }
  #products { height: 662px; }
  #products ul { font-size: 1.71429em; }
  #products hr { width: 200px; }
  #products .container-products > div .product-text { padding-top: 108px; }
  #products .container-products > div .product-text h3 { font-size: 0.875em; padding-right: 60px; }
  #products .container-products > div .product-text p { font-size: 0.875em; }
  #products .container-products > div .product-image { width: 446px; }
  #products .container-products > div .product-image img { height: 226px; }
  .examples .examples-tweets .tweets__bg-white { width: 380px; }
  .examples .examples-tweets .tweets__bg-white h6 { font-size: 0.75em; }
  .examples .examples-tweets .tweets__bg-white p { font-size: 0.6875em; }
  .examples .examples-tweets .tweets__bg-white img { width: 380px; }
  .examples .examples-tweets .container-half p { font-size: 0.6875em; padding-left: 42px; padding-right: 33px; }
  .examples .examples-tweets .container-half button { margin-right: 45px; }
  .examples .examples-actions .action__bg-gray { margin-left: 50px; margin-right: 29px; }
  .examples .examples-actions .action__bg-gray p { font-size: 0.75em; margin-top: 9px; text-align: justify; }
  .solutions .packages { display: -webkit-flex; display: flex; -webkit-flex-flow: column wrap; flex-flow: column wrap; }
  .solutions .packages .packages-section { display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; -webkit-justify-content: center; justify-content: center; width: 100%; margin-top: 40px; }
  .solutions .packages .packages-section img { display: none; }
  .solutions .packages .packages-section .is_hidden { display: flex; width: 20px; }
  .solutions .packages .packages-section h4 { font-size: 2.14286em; }
  .solutions .packages .packages-section p { font-size: 1em; width: 726px; }
  .success { height: 700px; }
  .success .success-cases { display: -webkit-flex; display: flex; -webkit-flex-flow: column wrap; flex-flow: column wrap; }
  .success .success-cases .success-img .success-img__down { margin-top: 90px; margin-left: -377px; }
  .success .success-cases .success-study { display: -webkit-flex; display: flex; -webkit-align-items: flex-end; align-items: flex-end; -webkit-justify-content: center; justify-content: center; }
  .success .success-cases .success-study img { -webkit-align-self: center; align-self: center; margin: 36px 71px; width: 60%; }
  .success .success-cases .success-study button { display: block; }
  .subscribe .subscribe-receive { width: 569px; margin-right: 50px; }
  .subscribe .subscribe-inputs { width: 323px; padding: 0; }
  .subscribe .subscribe-inputs input { height: 33px; }
  .subscribe .subscribe-inputs select { height: 35px; } }
