.examples
    +container__gray
    +two-columns
    height: 668px
    padding-left: 46px
    background-image: url('../assets/vertical-oval.svg')
    background-repeat: no-repeat
    background-position: 140px
    &-tweets
        .tweets__bg-white
            +align-containerSelf
            background: $white
            width: 480px
            height: 130px
            margin-top: 50px
            h6:first-child
                font-family: $secondaryFont
                font-size: .875em
                font-weight: 500
                display: inline-block
                color: $gray-tittle
                padding-left: 54px
            h6
                font-family: $secondaryFont
                font-size: .875em
                display: inline-block
                color: $gray-tittle
                padding-left: 12px
                font-weight: 300
            p
                font-family: $secondaryFont
                font-size: .875em
                color: $gray-tittle
                padding: 10px 55px
                font-weight: 400
                text-align: justify
                line-height: 18px
            img
                width: 480px
        .container-half
            +two-columns
            p
                font-family: $primaryFont
                font-size: .875em
                font-weight: 600
                padding-right: 34px
                padding-left: 4px
                width: 205px
            button
                +gray-button
                border-radius: 6px
                font-size: 1.125em
                width: 124px
                height: 39px
                font-weight: 700
                text-transform: uppercase
    &-actions
        .action__bg-gray
            height: 130px
            +align-containerSelf
            margin-top: 44px
            margin-left: 92px
            margin-right: 50px
            img
                width: 26px
            h4
                display: inline
                text-transform: uppercase
                font-weight: 600
                margin-left: 10px
                font-size: 1.875em
                color: $gray
            p
                font-family: $secondaryFont
                font-size: .875em
                color: $gray-tittle
                margin-top: 20px
                line-height: 23px
                font-weight: 400
