.fold
    background-image: url('../assets/bg-video@3x.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    width: 100%
    height: 100%
    &__logo
        padding: 35px
    &__text
        +center-vertical
        h1
            padding: 90px 60px
            color: $white
            font-size: 2.1875em
            text-align: center
            text-transform: uppercase
            font-weight: 900
            line-height: 48px
        a
            button
                width: 180px
                height: 50px
                font-size: 16px
                font-family: $secondaryFont
                color: $button-letter
                border-radius: 4px
                font-weight: 500
                text-transform: uppercase
        a:hover
            button
                background: transparent
                color: $white
    &__lines
        +display-flex
        +justify-content(flex-end)
        +align-items(flex-end)
        img
            margin-top: -165px
            margin-bottom: -58px
    &__scroll
        +display-flex
        +align-items(flex-end)
        +justify-content(center)
        img
            margin: 20px
