.solutions
    height: 722px
    background-image: url('../assets/horizontal-oval.svg')
    background-repeat: no-repeat
    background-position: 1010px 544px
    h2
        +center-title
        color: $gray
        font-size: 32px
        margin-top: 84px
        text-transform: uppercase
        font-weight: 600
    .packages
        +various-columns
        &-section
            +display-flex
            +flex-flow(column wrap)
            +justify-content(center)
            width: 33%
            img
                +display-flex
                +align-self(center)
                display: block
                width: 161px
                height: 161px
                margin-top: 82px
            h4, p
                +display-flex
                +align-self(center)
            h4
                font-size: 1.875em
                text-transform: uppercase
                color: #4a4a4a
                margin-top: 25px
                font-weight: 600
            p
                color: #465a64
                font-size: .875em
                font-family: $secondaryFont
                width: 297px
                line-height: 24px
                text-align: center
                margin-top: 22px
    .solutions-button
        +display-flex
        +justify-content(center)
        button
            +gray-button
            height: 58px
            width: 472px
            font-size: 16px
            font-weight: 700
            text-transform: uppercase
            margin-top: 85px
        button:hover
            background: $white
            color: $gray-tittle
            border-color: $gray-tittle
