#products
    height: 765px
    h2
        +center-title
        color: $gray
        font-size: 2em
        text-transform: uppercase
        font-weight: 600
        padding-top: 55px
    ul
        +various-columns
        font-size: 1.5em
        margin-top: 50px
        font-weight: 600
        family-font: $primaryFont
    .list-line
        margin-top: 1px
    li
        +align-self(center)
        cursor: pointer
        .selectMetrics
            color: $active
            &:hover
                color: $active
        .selectInsights
            color: $colorInsights
        .selectEngange
            color: $colorEngange
        .no_select
            color: $inactive
    hr
        border: 1px solid
        width: 330px
        display: block
    .container-products
        > div
            +two-columns
            .product-text
                padding-left: 47px
                img
                    width: 50px
                    display: block
                    margin-top: 20px
                h3
                    font-family: $secondaryFont
                    font-size: 1em
                    text-transform: uppercase
                    font-weight: 700
                    padding-top: 21px
                    padding-bottom: 15px
                    padding-right: 217px
                    line-height: 24px
                    color: $gray-tittle
                p
                    font-family: $secondaryFont
                    color: $gray-tittle
                    font-size: 1em
                    line-height: 24px
                    text-align: justify
                    width: 353px
                    font-weight: 400
                button
                    background: $dark-blue
                    color: $white
                    margin-top: 40px
                    height: 50px
                    width: 260px
                    font-size: 1em
                    border-radius: 3px
                    text-transform: uppercase
                    font-weight: 600
                button:hover
                    background: $white
                    color: $dark-blue
                    border-color: $dark-blue
                .bgInsights
                    background: $colorInsights
                .bgInsights:hover
                    background: $white
                    color: $colorInsights
                    border-color: $colorInsights
                .bgEngange
                    background: $colorEngange
                .bgEngange:hover
                    background: $white
                    color: $colorEngange
                    border-color: $colorEngange
            .product-image
                width: 764px
                img
                    height: 446px
                    margin-top: 66px
        .is_hidden
            display: none !important
        .is_active
            display: flex !important
