.subscribe
    height: 300px
    padding: 30px
    +two-columns
    &-receive
        +align-containerSelf
        margin-right: 20px
        margin-left: 23px
        border-right: 2px $green solid
        h2
            font-size: 2em
            color: $gray-tittle
            font-weight: 600
            text-transform: uppercase
        p
            font-size: .875em
            font-family: $secondaryFont
            color: $inactive
            margin-top: 38px
            text-align: justify
            line-height: 24px
            font-weight: 200
            padding-right: 76px
            height: 88px
    &-inputs
        +align-containerSelf
        padding: 20px
        input
            display: block
            width: 603px
            height: 32px
            background: $bgd-white
            border-radius: 3px
            border: none
            padding-left: 16px
            font-size: 1em
            +input-placeholder
                color: #b0bec5
                font-weight: 600
        select
            width: 461px
            height: 37px
            font-weight: 600
            font-size: 1em
            margin-top: 23px
            margin-right: 10px
            color: $inactive
            border: none
        button
            +gray-button
            height: 48px
            width: 148px
            border-radius: 4px
            font-size: 1em
            font-weight: 600
            margin-top: 20px
            text-transform: uppercase
        button:hover
            background: $white
            color: $gray
            border: 2px $gray solid
