.success
    height: 429px
    background: $bgd-gray
    h2
        font-size: 31px
        padding: 46px
        text-transform: uppercase
        font-weight: 600
    &-cases
        +two-columns
        .success-img
            margin-left: 38px
            +various-columns
            img:first-child
                width: 249px
                height: 44px
            img
                width: 157px
                height: 41px
            .img-large
                width: 89px
                height: 64px
            .success-img__down
                margin-top: 48px
                margin-left: -179px
                img
                    width: 213px
                    height: 48px
                    margin-right: 41px
                .img-large
                    width: 63.4px
                    height: 72.5px
                    margin-left: 16px
        .success-study
            +center-title
            img
                width: 487px
                height: 241px
                margin-left: 44px
                margin-top: -72px
                margin-bottom: 67px
            button
                +gray-button
                +align-self(flex-end)
                font-size: 1em
                width: 200px
                height: 50px
                font-family: $secondaryFont
                font-weight: 500
                margin-top: -25px
                text-transform: uppercase
            button:hover
                background: $bgd-gray
                color: $gray
                border: 2px $gray solid
