@mixin antialiased
    -webkit-font-smoothing: antialiased
    -moz-font-smoothing: antialiased
    -ms-font-smoothing: antialiased
    font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

@mixin clearfix
    &::after
        content: " "
        display: block
        clear: both

@mixin center-title
    +display-flex
    +justify-content(center)
    +align-items(center)
    +flex-wrap(wrap)

@mixin center-vertical
    +display-flex
    +justify-content(center)
    +align-items(center)
    +flex-wrap(wrap)
    +flex-direction(column)

@mixin left-side
    +display-flex
    +flex-direction(column)
    +align-items(flex-start)

@mixin right-side
    +display-flex
    +flex-direction(column)
    +align-items(flex-end)

@mixin container__gray
    background: $bgd-white
    +display-flex

@mixin gray-button
    background: $gray
    color: $white
    border-radius: 3px

@mixin two-columns
    +display-flex
    flex-flow: row nowrap
    +justify-content(center)
    +align-items(center)

@mixin various-columns
    +display-flex
    +justify-content(space-around)
    +flex-wrap(wrap)

@mixin align-containerSelf
    +display-flex
    +align-content(center)
    +flex-wrap(wrap)
